include /usr/local/share/nano/*.nanorc
include "~/.nano/*.nanorc"

set afterends
set atblanks
set autoindent
set boldtext
set breaklonglines
set casesensitive
set constantshow
set cutfromcursor
set emptyline
set historylog
set linenumbers
set locking
set mouse
set nohelp
set positionlog
# set regexp
# set tempfile
set speller "hunspell -x -c"
